

@font-face {
    font-family: 'oliver';
    src: url('fonts/Oliver-Regular.woff2') format('woff2'),
        url('fonts/Oliver-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 4;
    color: #e87ea1;
    font-family: 'oliver', cursive;

}

body {
    height: 100vh;
    width: 100%;
    z-index: 1;
    
}


section {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    overflow: hidden;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.video-background video {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    height: 70%;
    background-color: #fafafa;
    border: 4px solid #e87ea1;
    width: 33%;
    border-radius: 10px;
}

.image-box {
    height: 70%;
    width: 100%;
}

.actual-image {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gif {
    height: 90%;
    width: 64%;
    border-radius: 10px;
}

.text-one {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-audio {
    display: flex;
    justify-content: center;
    margin: 5%;
  }

.yes-no {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.yes {

    text-decoration: none;
    display: inline-block;
    font-family: 'oliver', cursive;
    color: #e87ea1;
    padding: 15px 26px;
    border: 4px solid #e87ea1;
    border-radius: 10px;
    background-color: #efc7bf;
    font-size: 7vh;
    
}

.no {

    text-decoration: none;
    
    font-family: 'oliver', cursive;
    color: #e87ea1;
    padding: 15px 26px;
    border: 4px solid #e87ea1;
    border-radius: 10px;
    background-color: #efc7bf;
    font-size: 7vh;
    display: flex;              /* activa flexbox */
    justify-content: center;    /* centra horizontalmente */
    align-items: center;    
    
}

.yes:hover, .no:hover {
    opacity: 0.95;
    scale: 0.95;
}

a {
    text-decoration: none;
    font-family: 'oliver', cursive;
    font-size: 7vh;
}

/* for mobile display */
@media (min-width:200px) and (max-width:1025px) {
    .container {
        height: 80%;
        width: 98%;
    }
    .gif {
        height: 90%;
        width: 80%;
    }
}
